

 *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}


.mainbox{
  position: relative;
  width: 500px;
  height: 500px;
}
.mainbox:after{
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: bold;
  border-radius: 50%;
  border: 10px solid #E5F7FF;
  overflow: hidden;
  transition: all ease 5s;
  right: 50%;
}


span{
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}
.span1{
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  background-color: #E5F7FF;
  top: 120px;
  left: 0;
}
.span2{
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #55BBEB;
  top: 120px;
  right: 0;
}
.span3{
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color: #A0D8F2;
  bottom: 0;
  left: 120px;
}
.span4{
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-color:  #1871ED;
  top: 0;
  left: 120px;
}

.box1 .span3 b{
  transform: translate(-50%, -50%) rotate(-270deg);
}
.box1 .span1 b,
.box2 .span1 b{
 transform: translate(-50%, -50%) rotate(185deg);
}
.box2 .span3 b{
 transform: translate(-50%, -50%) rotate(90deg);
}
.box1 .span4 b,
.box2 .span4 b{
 transform: translate(-50%, -50%) rotate(-85deg);
}

span b{
 font-size: 1rem;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}

.box2{
 width: 100%;
 height: 100%;
 transform: rotate(-135deg);
}

.spin{
  position: absolute;
  top: 50%;
  right: 85%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after{
  animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow{
  50%{
    right: -40px;
  }
}

.fa-location-dot {
  position: absolute;
  top: 22%;
  left: 40%;
  transform: rotate(54deg);
  z-index: 99;
  font-size: 2.2rem;
}


#user-form {
  font-family: 'Arial', sans-serif; 
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  width: fit-content;
}

#user-form h2 {
  color: #000; 
  margin-bottom: 15px;
}

#user-form p {
  color: #333; 
  margin-bottom: 20px;
}

.textfield {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  display: block; 
  width: 250px; 
  box-sizing: border-box; 
}

.spinButton {
  background-color:  #55BBEB;
  color: #fff; 
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.spinButton:hover {
  background-color: #1871ED;


}