* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.background-container {
  position: relative;
  padding: 20px;
}

.image-opacity-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  border-radius: 0px 10px 10px 0px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  position: relative;
  z-index: 2;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
}

.fa-location-dot {
  position: absolute;
  top: 22%;
  left: 41%;
  transform: rotate(54deg);
  z-index: 99;
  font-size: 2.2rem;
}

#user-form {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  width: fit-content;
  position: absolute;
  left: 50%;
}

#user-form h2 {
  color: #000;
  margin-bottom: 15px;
}

#user-form p {
  color: #333;
  margin-bottom: 20px;
}

.textfield {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  width: 250px;
  box-sizing: border-box;
  width: 100%;
}

.btn {
  position: relative;
  display: inline-block;
  height: auto;
  background-color: black;
  cursor: pointer;
  min-width: 150px;
  border: 1px solid black;
  color: white;
  transition: all 0.3s ease;
  padding: 10px;
  text-transform: uppercase;
}

.btn.spin {
  width: 100%;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: 0.2s;
}

.btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn:disabled {
  background-color: #ccc;
  color: white;
  cursor: default;
  border: none;
}

#backdrop {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.show {
  opacity: 1;
  pointer-events: auto;
}
.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
}

#backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

#modal {
  position: absolute;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 30;
  border-radius: 12px;
  transition: opacity 0.2s ease;
}

#x-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 0.6rem;
  cursor: pointer;
  z-index: 5;
  border: 1px solid white;
  box-shadow: 0px 0px 3px 0px #ffffff21;
  background-color: #949494;
  color: white;
  font-weight: 700;
  -webkit-text-stroke: medium;
  transition: all 0.3s ease;
}

#x-button:hover {
  background-color: #ffffff;
  color: #949494;
  border: 1px solid #949494;
  box-shadow: 0px 0px 3px 0px #949494;
  transition: all 0.3s ease;
}

#stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  gap: 8px;
}

.x-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  padding: 10px;
}

#confetti-wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#spin-wheel {
  position: absolute;
  right: 50%;
}

#wheel-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 20%;
  width: 20%;
  border-radius: 50%;
  cursor: default;
  border: none;
  background: white;
  color: var(--white_color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  box-shadow: 6px 5px 5px 3px #7f7f7f6e;
}

#conversions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#congrats-title {
  display: none;
  color: white;
  font-family: Khand, sans-serif;
}

#congrats-description {
  display: none;
  color: white;
  font-family: monospace;
}
